<!-- -->
<launch>

	<node name="reserve_node" pkg="grid_tracking" type="reserve_node" output="screen">
		<param name="file_path" value="$(find grid_tracking)/vertex_file/vertexes.txt"/>
		<param name="disThreshold" value="3.0"/>
		<param name="tracking_speed" value="3.0"/>
    </node>
    
	<node name="record_gps_data_node" pkg="record_gps_data" type="record_gps_data_node" >
		<param name="path_points_file" value="$(find grid_tracking)/vertex_file/trajectory.txt"/>
	</node>
	
	<node type="base_control_node" pkg ="base_control" name="base_control_node" >
		<param name ="stm32_port_name"   value="/dev/ttyTHS2"/>
	</node>
	
	<node name="nuogeng_node" pkg="nuogeng" type ="nuogeng_node" output="screen" >
	
		<param name ="port_name" value="/dev/ttyUSB0"/>
		<param name ="baudrate" value="115200"/>
	</node>
	

</launch>

