<!-- -->
<launch>

	<arg name="max_speed"  default="2.0"/>
	
	<node name="lane_detect_node" pkg="lane_detect" type="lane_detect.py" />
	
	<node name="lane_keeping_node" pkg="planning" type="lane_keeping_node" output="screen">
		<param name="cmd_topic_name" value="/cmd"/>
		<param name="lane_keeping_speed" value="2.5"/>
		<param name="foresight_distance" value="3.0"/>
		
	</node>
	
	 <node type="base_control_node" pkg ="base_control" name="base_control_node" >
    	<param name ="stm32_port_name"   value="/dev/ttyUSB0"/>
    </node>


</launch>



