<!-- -->
<launch>

	<include file="$(find my_image_transport)/launch/my_image_transport.launch" />
	
	<node name="bend_detect" pkg="lane_detect" type="bend_detect.py" output="screen">
		<param name="is_debug" value="true" />
		<param name="is_reconfig" value="true" />
		<param name="is_calibrate" value="false"/>
		<param name="curve_fit_num" value="3" />
		
	</node>
	
	<node name="lane_keeping_node" pkg="lane_keeping" type="lane_keeping_node" >
		<param name="cmd_topic_name" value="/cmd"/>
		<param name="lane_keeping_speed" value="2.0"/>
		<param name="foresight_distance" value="3.0"/>
		
	</node>
	
	<node name="show_detect_result" type="show_result.py" pkg="lane_detect"/>
	
	
	<node type="base_control_node" pkg ="base_control" name="base_control_node" >
		<param name ="stm32_port_name"   value="/dev/ttyTHS2"/>
	</node>
	
	<node type="rqt_reconfigure" pkg="rqt_reconfigure" name="rqt_reconfigure"/>
	
</launch>



