<!-- -->
<launch>

	<arg name="max_speed"  default="2.0"/>
	
	<node name="lane_detect_node" pkg="lane_detect" type="lane_detect.py" output="screen" />
	<node name="show_result_node" pkg="lane_detect" type="show_result.py"/>
	
	<node name="lane_keeping_node" pkg="lane_keeping" type="lane_keeping_node" output="screen">
		<param name="cmd_topic_name" value="/cmd"/>
		<param name="lane_keeping_speed" value="3.0"/>   <!-- 1m/s 3.0m    1.5m/s  4.0m    #2.0m/s 2.8m   2.5m/s  5.0m 3.0m/s  5.0m-->
		<param name="foresight_distance" value="3.2"/>
		
	</node>
	
	 <node type="base_control_node" pkg ="base_control" name="base_control_node" >
    	<param name ="stm32_port_name"   value="/dev/ttyUSB0"/>
    </node>


</launch>



