<!-- -->
<launch>
<arg name="file" default="gps_data.txt"/>
	<node name="record_gps_data_node" pkg="record_gps_data" type="record_gps_data_node" output="screen">
		<param name="path_points_file" value="$(find record_gps_data)/../gps_data/$(arg file)"/>
	 </node>
	
	<node name="nuogeng_node" pkg="nuogeng" type ="nuogeng_node" output="screen" >
	
		<param name ="port_name" value="/dev/ttyUSB0"/>
		<param name ="baudrate" value="115200"/>
	</node>
	

</launch>
